@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display","Noto Sans JP", serif;
  line-height: 1.8;
  color: #000000;
  padding: 0 1rem;
}


hr{
    color: #C8A45A;
    width: 290px;
    margin: 0 auto;
    margin-top: 2rem;
}

/* menu-span */
.main-nav li{
  list-style: none;
}
nav {
  position: fixed;   /* ← 追加！ */
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: none;
  background: #ffffff;
  z-index: 1200;
  padding-top: 2rem;
}
nav.active {
  display: block;
}
.hamburger {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 22px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2000;
}
.hamburger span {
  display: block;
  height: 3px;
  background-color: #000000;
  margin: 5px 0;
  transition: .3s;
}
.main-nav a {
  display: block;
  padding: 1rem;
  font-size: 20px;
  color: #4a3b33;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

h1{
    font-size: 8rem; 
    text-align: center;
}
/* about */
.heading-large{
    padding: 1rem 0;
}
.about img{
    margin-bottom: 1rem;
}
.about{
    padding: 1rem 2rem;
}
/* items */
.items-white,
.items-night,
.items-rain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #1a1a1a;
    margin-bottom: 2rem;
}
.title-white,
.title-night,
.title-rain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items img{
    border: 1px solid #1a1a1a;
}
.items p{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.title-night,
.info-night{
    color: #ffffff;
    background-color: #1a1a1a;
}
.title-rain,
.info-rain{
    background-color: #DDE3E8;
}
/* shop */
h3{
    text-align: center;
    margin: 3rem 0 2rem;
}
.shop-btn{
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 2rem;
    padding: 5px 30px;
}
.shop{
    text-align: center;
    margin-bottom: 2rem;
}
.to-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  color: #1a1a1a;
  font-family: "Shippori Mincho", serif;
  font-size: 2rem;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
  z-index: 100;
}
footer{
    text-align: center;
}
/* fade in */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
img:hover,
h1:hover,
.shop-btn:hover{
    transform: scale(1.03);
}
/* スマホ */
@media (max-width: 768px) {
}



@media (min-width: 769px) {
.heading-large{
    font-size: 4rem;
}
h1{
    font-size: 14rem;
}
.about{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}
    .items-white,
    .items-night,
    .items-rain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #1a1a1a;
}
.title-white,
.title-night,
.title-rain{
    font-size: 1.4rem;
}
.items p{
    font-size: 2rem;
    font-weight: 300;
}

}